<header><h1>Welcome to our about page.</h1></header>
<p>This is gonna be where our grandiose circlejerk speech comes in, are you ready?</p>
<p><%= link_to 'Click here to go to the main page.', root_path %></p>
<footer>(It might be bad.)</footer>