<header><h1>Welcome to our about page.</h1></header>
<p>This is gonna be where we talk about ourselves! Talk about boring.</p>
<p><%= link_to 'Click here to go to the main page.', root_path %></p>

<footer>(It *will* be bad.)</footer>