<header><h1>Welcome to our main page.</h1></header>
<p>This is gonna be where our blog comes in. Aren't you excited?</p>
<p><%=link_to "Alpha Blog", articles_path %> | <%= link_to 'Click here to go to about.', about_path %></p>
<footer>(It might be bad.)</footer>