$navbar-default-bg: #400b59;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron {

  background: inherit;
}
body {
  background-image: asset-url('8bitcity.jpg')

}

.btn-xlarge{
  font-size: 1.7em;
  background: #93395A;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

}

footer a:hover{
  color: #222;
}




.page-footer {
  filter: grayscale(10%);
}

a {
  color: #730E15;
  font-weight: 300;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;

}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;

}

.article-title {
  font-weight: bold;
  font-size: 1.4em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;

}
.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}