<div class="container">
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Made by
        <a href="https://github.com/gnu-magician">The Magician</a> ! Give him a visit.
    </div>
    <!-- Copyright -->

  </footer>
</div>